* {
    font-family: 'Open Sans', sans-serif;
}

html {
    background: url(../../../images/background.png) repeat;
    }
body {
    font-size: 16px;
    background: transparent;

  }

.header {
    background: #000000;
    height: 80px;
    padding: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.gifchat {
    font-size: 42px;
    line-height: 0.5

}

.thing-form {
    margin:20px 0;
}
#banner{
    border-bottom: none;
    margin-top: -20px;
}
#banner h1{
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
}
.hero-unit{
    background: #4393B9;
    color: #F5F5F5;
    padding: 30px 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.footer{
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
    }

        /* Override B3 .panel adding a subtly transparent background */
.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.margin-base-vertical {
    margin: 40px 0;
}

