<div id="wrapper" ng-class="{'toggled': active == true}">

        <!-- Sidebar -->
	<div id="sidebar-wrapper" ng-show=isLoggedIn()>
	    <ul class="sidebar-nav">
	        <li class="sidebar-brand">
	            <a href="#">
	                Friends Conversations
	            </a>
	        </li>
	        <li>
	        	<h4><a ng-click="addFriend()">Add a Friend</a><h4>
	        	<input ng-show="added" type="text" ng-model="newUser" class="form-control" placeholder="username...">
				<button ng-show="added" type="submit" ng-click="setFriendUsername(newUser); addMessage('you are now connected!'); addFriend()" class="btn btn-xs" >Add Friend</button>
	        </li>
	        <li ng-repeat="user in messages">
	            <a ng-click="setFriendUsername(user.$id)">{{user.$id}}</a>
	        </li>
	        <li>
	        	<h3><a href="" ng-click="logout()">Logout</a><h3>
	        </li>
	    </ul>
	</div>
        <!-- Page header -->
        <!-- <div ng-include="'components/navbar/navbar.html'" class="span3"></div> -->
        <!-- Page Content -->
	<div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h1>Welcome back {{username}}, you are now chatting with {{friendsName}}</h1>
		        <div class="commentArea yolo" scroll-glue="glued">
		        	<div ng-repeat="texts in privateMessages" ng-class="texts.username == username ? 'bubbledRight' : 'bubbledLeft'">
		            {{texts.text}}
		        	</div>
		        </div>
            </div>
            <footer>
            	<input type="text" ng-model="userMessage" class="form-control">
				<button type="submit" ng-click="addMessage(userMessage)" class="btn btn-default">Send Message</button>
                <a class="btn btn-default" ng-click="activate()">Toggle Menu</a>
            </footer>
        </div>
    </div>
</div>