<div id="wrapper" ng-class="{'toggled': active == true}">
  <!-- Sidebar -->
	<div id="sidebar-wrapper" ng-show=isLoggedIn()>
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a>
          Friends Conversations
        </a>
      </li>
      <li>
    	  <h4><a ng-click="addFriend()">Add a Friend</a><h4>
      	<input ng-show="added" type="text" ng-model="newUser" class="form-control" placeholder="username...">
				<button ng-show="added" type="submit" ng-click="setFriendUsername(newUser); addFriend()" class="btn btn-xs" >Add Friend</button>
      </li>
      <li ng-repeat="user in messages">
        <a ng-click="setFriendUsername(user.$id)">{{user.$id}}</a>
      </li>
      <li>
      	<h3><a href="" ng-click="logout()">Logout</a><h3>
      </li>
    </ul>
	</div>
  <!-- Page header -->
  <!-- <div ng-include="'components/navbar/navbar.html'" class="span3"></div> -->
  <!-- Page Content -->
	<div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <h1>Welcome back {{username}}, you are now chatting with {{friendsName}}</h1>
        <div class="commentArea yolo" scroll-glue="glued">

        <script type="text/javascript">
          var viewHeight = $( window ).height() - 280;
          $('.yolo').css( 'height', viewHeight );
        </script>
      	
        <div ng-repeat="texts in privateMessages" ng-class="texts.username == username ? 'bubbledRight' : 'bubbledLeft'">
          <img src="{{texts.text}}">

        	</div>

            <script type="text/javascript">
              var elem = document.getElementsByClassName('commentArea');
              elem.scrollTop = elem.scrollHeight;
              console.log(elem.scrollTop);
            </script>
        </div>
      </div>
      <footer>
        <form ng-submit="addMessage(userMessage)"  class="inputform">
        	<input type="text" ng-model="userMessage" class="inputbutton" placeholder="please type a word or short phrase search term for gifs">
  			  <button type="submit" class="btn btn-default">Send</button>
        </form>
      </footer>
    </div>
  </div>
</div>
