<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
      <div ng-hide="isLoggedIn()">
        <h1 class="margin-base-vertical">Welcome to Gifchat</h1>
          <p>
            a gif is worth 10,000 words.
          </p>
          <p>
            if you're new, sign up! otherwise log in below.
          </p>
          <div ng-hide="activeLogin || activeSignup">
            <a ng-click="activateLogin()">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-globe"></span>Sign in!
                </button>
            </a>
            <a ng-click="activateSignup()">
                <button type="button" class="btn btn-default btn-lg" href="/signup">
                    <span class="glyphicon glyphicon-envelope"></span>Sign up
                </button>
            </a>
          </div>
      </div>
      <div ng-show="isLoggedIn()">
        <h1 class="margin-base-vertical">Welcome back {{getCurrentUser().name}}</h1>
          <div>
            <a href="#/chatroom">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-globe"></span>Take me back to the gifs!
                </button>
            </a>
          </div>
      </div>


      <!-- SIGNUP FORM -->


      <form class="form" name="form" ng-submit="register(form)" ng-show="activeSignup" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Username</label>
          <p class="input-group">
              <span class="input-group-addon"><span class="icon-envelope"></span></span>
              <input type="text" name="username" class="form-control" ng-model="user.username" ng-keydown="errors.other=''"
                 placeholder=" e.g. hacker-dude23" required />
          </p>
          <p class="help-block" ng-show="form.username.$error.required && submitted">
            A username is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>
          <p class="input-group">
              <span class="input-group-addon"><span class="icon-envelope"></span></span>
              <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          </p>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>
        <div class="form-group has-error">
          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Sign up
          </button>

        </div>

        <hr>

      </form>

      <!-- Login form -->
      <form class="form" name="form" ng-submit="login(form)" ng-show="activeLogin" novalidate>

        <div class="form-group">
          <label>Username</label>

          <input type="username" name="username" class="form-control" ng-model="user.username" ng-keydown="errors.other=''" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password" ng-keydown="errors.other=''" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Login
          </button>
        </div>

        <hr>

      </form>
      <!-- End og signinForm -->

      <div class="margin-base-vertical">
      </div>
    </div><!-- //main content -->
  </div><!-- //row -->
</div>
